/* File: assets/css/input.css */

/* Gọi thư viện Tailwind */
@import "tailwindcss";

/* Gọi các plugins mà bạn đã cài trong package.json */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";


@theme {
  --primary-color: #000000;
  --secondary-blue: #377DFF;
  --secondary-green: #38CB89;
  --secondary-orange: #FFAB00;
  --secondary-red: #FF5630;

  --neutral-07: #141718;
  --neutral-06: #232627;
  --neutral-05: #343839;
  --neutral-04: #6C7275;
  --neutral-03: #E8ECEF;
  --neutral-02: #F3F5F7;
  --neutral-01: #FEFEFE;

  --color-heading: :#121221;
  --color-text: #3E3E59;


  --font-pop: "Poppins", sans-serif;
  --font-inter: "Inter", "sans-serif";


}



@layer base {

  input,
  textarea,
  button {
    @apply outline-none;
  }

  .hero {
    @apply font-pop text-[6rem] font-medium leading-[6rem] tracking-[-0.12rem] text-[var(--neutral-07)];
  }

  .heading-1 {
    @apply font-pop text-[5rem] font-medium leading-[5.25rem] tracking-[-0.1875rem] text-[var(--neutral-07)];
  }

  .heading-2 {
    @apply font-pop text-[4.5rem] font-medium leading-[4.75rem] tracking-[-0.125rem] text-[var(--neutral-07)];
  }

  .heading-3 {
    @apply font-pop text-[3.375rem] font-medium leading-[3.625rem] tracking-[-0.0625rem] text-[var(--neutral-07)];
  }

  .heading-4 {
    @apply font-pop text-[2.5rem] font-medium leading-[2.75rem] tracking-[-0.025rem] text-[var(--neutral-07)];
  }

  .heading-5 {
    @apply font-pop text-[2.125rem] font-medium leading-[2.375rem] tracking-[-0.0375rem] text-[var(--neutral-07)];
  }

  .heading-6 {
    @apply font-pop text-[1.75rem] font-medium leading-[2.125rem] tracking-[-0.0375rem] text-[var(--neutral-07)];
  }

  .heading-7 {
    @apply font-pop text-[1.25rem] font-medium leading-[2.125rem] tracking-[-0.0375rem] text-[var(--neutral-07)];
  }
}

@layer components {
  .btn-xl {
    @apply font-pop text-[1.625rem] font-medium leading-[2.375rem];
  }

  .btn-l {
    @apply font-pop text-[1.375rem] font-medium leading-[2.125rem];
  }

  .btn-m {
    @apply font-pop text-[1.125rem] font-medium leading-[2rem] tracking-[-0.025rem];

  }

  .btn-s {
    @apply font-pop text-[1rem] font-medium leading-[1.75rem] tracking-[-0.025rem];
  }

  .btn-xs {
    @apply font-pop text-[0.875rem] font-medium leading-[1.5rem];
  }

  /* BOLD 700 */
  .text-26-bold {
    @apply font-pop text-[1.625rem] font-bold leading-[2.5rem];
  }

  .text-22-bold {
    @apply font-pop text-[1.375rem] font-bold leading-[2.125rem];
  }

  .body-1-bold {
    @apply font-pop text-[1.25rem] font-bold leading-[2rem];
  }

  .text-18-bold {
    @apply font-pop text-[1.125rem] font-bold leading-[1.875rem];
  }

  .body-1-bold {
    @apply font-pop text-[1rem] font-bold leading-[1.625rem];
  }

  .body-2-bold {
    @apply font-pop text-[1rem] font-bold leading-[1.625rem];
  }

  .caption-1-bold {
    @apply font-pop text-[0.875rem] font-bold leading-[1.375rem];
  }

  .caption-2-bold {
    @apply font-pop text-[0.75rem] font-bold leading-[1.25rem];
  }

  /* --- REGULAR (400) --- */
  .text-26-reg {
    @apply font-pop text-[1.625rem] font-normal leading-[2.5rem];
  }

  .text-22-reg {
    @apply font-pop text-[1.375rem] font-normal leading-[2.125rem];
  }

  .body-1-reg {
    @apply font-pop text-[1.25rem] font-normal leading-[2rem];
  }

  .text-18-reg {
    @apply font-pop text-[1.125rem] font-normal leading-[1.875rem];
  }

  .body-2-reg {
    @apply font-pop text-[1rem] font-normal leading-[1.625rem];
  }

  .caption-1-reg {
    @apply font-pop text-[0.875rem] font-normal leading-[1.375rem];
  }

  .caption-2-reg {
    @apply font-pop text-[0.75rem] font-normal leading-[1.25rem];
  }

  /* --- SEMI BOLD (600) --- */
  .text-26-semibold {
    @apply font-pop text-[1.625rem] font-semibold leading-[2.5rem];
  }

  .text-22-semibold {
    @apply font-pop text-[1.375rem] font-semibold leading-[2.125rem];
  }

  .body-1-semibold {
    @apply font-pop text-[1.25rem] font-semibold leading-[2rem];
  }

  .text-18-semibold {
    @apply font-pop text-[1.125rem] font-semibold leading-[1.875rem];
  }

  .body-2-semibold {
    @apply font-pop text-[1rem] font-semibold leading-[1.625rem];
  }

  .caption-1-semibold {
    @apply font-pop text-[0.875rem] font-semibold leading-[1.375rem];
  }

  .caption-2-semibold {
    @apply font-pop text-[0.75rem] font-semibold leading-[1.25rem];
  }

  .check-box {
    @apply fill-[#FCFCFD] stroke-[#6C7275] text-[var(--neutral-07)] rounded focus:ring-transparent
  }

  .hairline {
    @apply text-center font-pop text-base font-bold leading-none uppercase flex py-1 px-3.5 justify-center items-center gap-2 rounded;
  }

  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 26px;
    height: 26px;
    fill: #0f172a;
  }

  .input {
    @apply border-[var(--neutral-07)] rounded px-3 py-2 font-pop text-[1rem] font-normal leading-[1.625rem] text-[var(--neutral-04)] focus:outline-none w-full focus:ring-1 focus:ring-[var(--neutral-07)];
  }

  .label {
    @apply block text-[#6C7275] font-pop text-xs font-bold leading-none mb-3 uppercase;
  }




}